/*--------      filtross       ------------------------*/
.caja{
    background-image:url(../Imagenes/main/banner.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-left: 10%;
    margin-top: 0%;
    width: 100%;
    height: 350px;

}

.filters {
    padding: 20px;
    text-align:right
}

.filter {
    margin-bottom: 10px;

    
}

.filter input[type="checkbox"] {
    margin-right: 5px;
  
}

.filter .description {
    font-size: 0.8em;
    color: #ffffff;

}



/*--------     carros      ------------------------opcional son cuadros*/

.productos {
    margin-left: 10px;
    flex-wrap: wrap;
    justify-self: center;

}

.producto {
    width: 320px;
    margin: 10px;
    border: 1px solid #ccc;
    padding: 1px;
    
}
.nombrecarro{
    color: #000000;
    text-align: center;

}
.precio{
    color: #000000;
}
